{# This template is the basis of all templates #}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {% include "head/meta_basic.njk" %}
    {% include "head/links.njk" %}
    {% include "head/title.njk" %}
    {% include "head/favicons.njk" %}
    {% include "head/meta_description.njk" %}
    {% include "head/og_tags.njk" %}
    {% include "head/schema.njk" %}
</head>

<body>
<header>
    <a class="skip" href="#main">Skip to content</a>
    <hgroup>
        <h1><a href="/" rel="home">Jon Plummer</a></h1>
        <p>Today I Learned</p>
    </hgroup>
    {% include "components/nav.njk" %}
</header>

<main id="main" aria-label="Main content"{% if tags %} data-tags="{{ tags | join(' ') }}"{% endif %}>
    {% if tags and "page" in tags and title %}
    <h1>{{ title | smartquotes | safe }}</h1>
    {% endif %}
    {{ content | safe }}
</main>

<footer aria-label="Site footer">
    {% include "components/license.njk" %}
</footer>
</body>
</html>