{# purpose: portfolio list item component #}
<article class="portfolio-item" id="{{ post.fileSlug }}">
    <a href="{{ post.url }}" aria-hidden="true" tabindex="-1">
        <img src="/assets/images/{{ post.data.coverImage }}" alt="{{ post.data.title | default('Portfolio item') }}">
    </a>
    <p><a href="{{ post.url }}" rel="bookmark">{{ post.data.title | smartquotes | stripHtml }}</a></p>
</article>