{# purpose: site navigation #}
<nav aria-label="Site navigation">
    <ul>
        {% if page.url != "/" %}
        <li><a href="/">/index</a></li>
        {% endif %}
        <li><a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>/about</a></li>
        <li><a href="/now/"{% if page.url == "/now/" %} aria-current="page"{% endif %}>/now</a></li>
        <li><a href="/portfolio/"{% if page.url == "/portfolio/" %} aria-current="page"{% endif %}>/portfolio</a></li>
        <li><a href="/wisdom/"{% if page.url.indexOf('/wisdom') === 0 %} aria-current="page"{% endif %}>/wisdom</a></li>
    </ul>
</nav>
