---
layout: base.njk
title: Server error – Jon Plummer – Today I Learned
purpose: 500
---

<p>Oops! Something went wrong on our end. We're working to fix this issue.</p>

<p>In the meantime, you can:</p>
<ul>
    <li><a href="/">Go back to the homepage</a></li>
    <li><a href="/about/">Learn more about this site</a></li>
    <li><a href="/portfolio/">Check out my portfolio</a></li>
</ul>

<h2>Recent posts</h2>
<ul>
    <li>
    </li>
</ul>

<h2>Most popular</h2>
<ul>
    <li>
    </li>
</ul>
