---
layout: base.njk
title: Jon Plummer – Today I Learned
bodyId: index
purpose: blog homepage

# TODO: Have this pull in the most recent posts rather than have the raw content here; Post metadata (date, tags, excerpt); Navigation controls; Search/filter options
---
<article id="post-826">
    <header>
        <h2><a href="/2024/11/02/what-went-right-in-october/" rel="bookmark">What went right in October?</a></h2>
    </header>
    <section>
        <p>So many things, in retrospect:</p>
        <ul>
            <li>Home progress!
                <ul>
                    <li>Landscaping is done, trees are in</li>
                    <li>Storm drains are cleaned</li>
                    <li>The network is regularly providing 1200Mbps, after modernizing a bit (paid for by selling the slightly older equipment)</li>
                </ul>
            </li>
            <li>Work progress!
                <ul>
                    <li>The concept sprint I led was a resounding success – the execs wish they could sell our plan now, but they recognize they need to wait until they fund it and we build it – and there&#8217;s talk of more</li>
                    <li>The pendulum is swinging back toward being more customer-centric</li>
                </ul>
            </li>
            <li> Life progress!
                <ul>
                    <li>I pulled 410 last week by doing the plate math wrong, and it was no problem at all</li>
                    <li>At my last appointment my PT said &#8220;good job;&#8221; I bet PTs don&#8217;t say that often</li>
                </ul>
            </li>
        </ul>
    </section>
    <footer>
        <p><span class="posted-on"><a href="/2024/11/02/what-went-right-in-october/" rel="bookmark"><time datetime="2024-11-02T20:19:36-07:00">November 2, 2024</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel="author me">Jon Plummer</a></span></p>
    </footer>
</article>
<article id="post-808">
    <header>
        <h2><a href="/2024/08/01/apropos-ofnothing-bitcoin/" rel="bookmark">Apropos of…nothing (bitcoin)</a></h2>				
    </header>
    <section>
        <p>A strategic reserve in (of?) a commodity implies that it’s in the U.S. strategic interest to invest to be protected from price shocks or supply restrictions due to the importance of the commodity to the economy or military readiness.</p>
        <p>The best way to protect from bitcoin price shock is to not buy any. The best way to protect from a bitcoin supply restriction is to not use any.</p>
        <p>Both of these are free.</p>
    </section>
    <footer>
        <p><span class="posted-on"><a href="/2024/08/01/apropos-ofnothing-bitcoin/" rel="bookmark"><time datetime="2024-08-01T08:50:00-07:00">August 1, 2024</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel=""author me">Jon Plummer</a></span></p>
    </footer>
</article>
<article id="post-806">
    <header>
        <h2><a href="/2024/07/31/a-quick-word-about-taking-feedback/" rel="bookmark">A quick word about taking feedback</a></h2>				
    </header>
    <section>
        <p>When receiving feedback on a design or other work the important thing is to see the <em>intent</em> behind the feedback and address that, rather than take the <em>specific</em> advice or try to <em>appease</em> the feedback-giver.</p>
        <p>Only by addressing the intent behind the feedback can the work be improved. yes, this might mean taking the specific advice, but it might not. The specific advice may not be the right answer.</p>
        <p>Appeasement is waste.</p>
    </section>
    <footer>
        <p><span class="posted-on"><a href="/2024/07/31/a-quick-word-about-taking-feedback/" rel="bookmark"><time datetime="2024-07-31T20:35:25-07:00">July 31, 2024</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel=""author me">Jon Plummer</a></span></p>
    </footer>
</article>
<article id="post-804">
    <header>
        <h2><a href="/2024/07/21/weekly-wins-for-the-week-of-2024-07-15/" rel="bookmark">Weekly wins for the week of 2024 07 15</a></h2>				
    </header>
    <section>
        <ul>
            <li>Vacations are winding down and people are starting to come back to work. The team is filling out again.</li>	
            <li>I convinced the SVP of Product to be quizzed about our product strategy – we&#8217;ll put a script and some visuals together for our annual Company Connect and hopefully address longstanding complaints that people aren&#8217;t sure how their work contributes to our strategy. This has raised other interesting topics that might also become topics, like how we really make money and where it goes, how our pricing and packaging works, etc. A lot of the things I was hoping to accomplish this year have been deprioritized (rightly) due to some technical pickles we find ourselves in, so this represents an opportunity to be influential beyond the usual process and product stuff we do on the reg; fingers crossed.</li>
            <li>The ladies are back and the house is no longer empty. This also means my diet will improve – bachelor-mode Jon is (far) less disciplined than husband-mode Jon.</li>
        </ul>		
    </section>
    <footer>
        <p><span class="posted-on"><a href="/2024/07/21/weekly-wins-for-the-week-of-2024-07-15/" rel="bookmark"><time datetime="2024-07-21T16:29:24-07:00">July 21, 2024</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel=""author me">Jon Plummer</a></span></p>
    </footer>
</article>
<article id="post-801">
    <header>
        <h2><a href="/2024/07/14/weekly-wins-for-the-weeks-of-2024-07-01-and-08/" rel="bookmark">Weekly wins for the weeks of 2024 07 01 and 08</a></h2>				
    </header>
    <section>
        <p>Small quality-of-life adjustments can have an amazing effect. Sure, the fact that you need to push on the door a little bit to lock its deadbolt is not a huge deal; it hardly slows you down, takes little effort, and there&#8217;s nearly no additional wear-and-tear as a result. Not a huge deal <em>once</em>, that is. Eight times a day every day as people come and go, sometimes with full hands or in a hurry, adds up to thousands of exactly-repeated minor annoyances per year with a single cause that is readily fixed. So the value of that fix is quite high, even if each incident is barely noticeable.</p>
        <ul>
            <li>I adjusted the strike plates on our exterior doors as mentioned above. It&#8217;s fab!  (Ordinarily this would have been done by the contractor, but I put in the strikes so it fell to me.) Therese were not the strikes with the tab with the screwdriver hole, either.</li>
            <li>I also some moved boxes and furniture out of the garage, and rearranged some things, so that we can now park one car in the garage. Halfway there!</li>
            <li>During that process I started a tool donation box. There are some things that I&#8217;ve bought two or three times, and some things I have that I hope never to use again, and these can go to the tool library. Fish tape, transfer pump, redundant pipe wrench? Sayonara.</li>
            <li>Adapting to people being out for summer trips (and to the recent upheaval in priorities) has not been as difficult as I expected, and it has been fun to dive into a little bit of design work to keep things moving for a team who has both designers out.</li>
            <li>I had a delightful coffee with a former coworker who is looking for work. We&#8217;ve resolved to meet quarterly.</li>
        </ul>
    </section>
    <footer>
        <p><span class="posted-on"><a href="/2024/07/14/weekly-wins-for-the-weeks-of-2024-07-01-and-08/" rel="bookmark"><time datetime="2024-07-14T15:09:40-07:00">July 14, 2024</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel=""author me">Jon Plummer</a></span></p>
    </footer>
</article>
        
<nav class="navigation posts-navigation" aria-label="Posts">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        <div class="nav-previous"><a href="/page/2/">Older posts</a></div>
    </div>
</nav>