---
layout: base.njk
purpose: static page
---
<article id="{{ postId }}">
    <header>
        <h2><a href="{{ permalink }}" rel="bookmark">{{ ? }}</a></h2>
    </header>
    <section>
        {{ ? }}
    </section>
    <footer>
        <p><span class="posted-on"><a href="{{ permalink }}" rel="bookmark"><time datetime="{{ date }}">{{ date }}</time></a></span> by <span class="byline"><a href="/author/jonplummer_kssjnf/" rel="author me">{{ author }}</a></span></p>
    </footer>
</article>

{% include "nav.njk" %}