---
layout: base.njk
title: "Portfolio – Jon Plummer"
description: "Portfolio of Jon Plummer's UX design work including projects for Invoca, Cayuse, Belkin, Linksys, Wemo, and Medtronic MiniMed."
permalink: "/portfolio/"
purpose: portfolio index page
---
{# Display portfolio items #}
<ul>
{% for post in collections.portfolio | reverse %}
    <li>
        {% include "portfolio_list_item.njk" %}
    </li>
{% endfor %}
</ul>