<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link media="screen" rel="stylesheet" type="text/css" href="assets/css/jonplummer.css" />

    <meta name="robots" content="max-image-preview:large" />

    <a rel="me" href="https://mas.to/@jplummer"></a>
    <a rel="me" href="https://bsky.app/profile/jonplummer.com"></a>

    <link rel="canonical" href="https://jonplummer.com/{{ slug }}" />
    <meta property:"og:url" content="https://jonplummer.com/{{ slug }}" />

    <title>{{ title | default('Jon Plummer – Today I Learned') }}</title>
    <meta property="og:title" content="{{ title | default('Jon Plummer – Today I Learned') }}" />

    <meta name="description" content="{{ description }}" />
    <meta name="og:description" content="{{ description }}" />

    <meta property="og:image" content="{{ ogImage | default('') }}" />

</head>

<body id="{{ bodyId | default('index') }}">
<header>
    <a class="skip" href="#main">Skip to content</a>
    <hgroup>
        <h1><a href="/" rel="home">Jon Plummer</a></h1>
        <p>Today I Learned</p>
    </hgroup>
    {% include "nav.njk" %}
</header>

<main id="main">
    {{ content | safe }}
</main>

<footer>
    {% include "license.njk" %}
</footer>
</body>
</html>