{# purpose: site navigation #}
<nav aria-label="Site navigation">
    <ul>
        <li><a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>About me</a></li>
        <li><a href="/now/"{% if page.url == "/now/" %} aria-current="page"{% endif %}>Now</a></li>
        {# <li><a href="/portfolio/"{% if page.url == "/portfolio/" %} aria-current="page"{% endif %}>Portfolio</a></li> #}
    </ul>
</nav>