{# purpose: site navigation #}
<nav>
    <ul>
        <li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About me</a></li>
        <li><a href="/now/" {% if page.url == "/now/" %}class="active"{% endif %}>Now</a></li>
        <li><a href="/portfolio/" {% if page.url == "/portfolio/" %}class="active"{% endif %}>Portfolio</a></li>
    </ul>
</nav>