---
purpose: portfolio list item component
---
<article id="">
    <img src="/assets/images/{{ post.coverImage }}" alt="">
    <p><a href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a></p>
</article>