<article>
    <header>
        <h2><a href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a></h2>
    </header>
    <section>
        {{ post.templateContent | safe }}
    </section>
    <footer>
        <p class="posted-on"><time datetime="{{ post.date }}">{{ post.date | postDate }}</time></p>
    </footer>
</article>