---
purpose: full blog post content component
---
<article id="post-{{ post.id | default('unknown') }}">
    <header>
        <h1><a href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a></h1>
    </header>
    <section>
        {{ post.templateContent | safe }}
    </section>
    <footer>
        <p class="posted-on"><time datetime="{{ post.date }}">{{ post.date }}</time></p>
    </footer>
</article>