---
layout: base.njk
purpose: individual post page
bodyId: post
bodyClass: inside
---

{% set post = {
    'url': page.url,
    'date': date,
    'data': {
        'title': title
    },
    'templateContent': content,
    'id': title | slug
} %}
{% include "post_content.njk" %}

<nav class="post-navigation">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}
    {% if previousPost %}
    <a href="{{ previousPost.url }}" class="prev">← Previous post: {{ previousPost.data.title }}</a>
    {% endif %}
    
    {% if nextPost %}
    <a href="{{ nextPost.url }}" class="next">Next post: {{ nextPost.data.title }} →</a>
    {% endif %}
</nav>

<footer>
    {% include "nav.njk" %}
</footer>
