<link rel="icon" href="{{ page.outputPath | rootRelativePathPrefix }}favicon.ico" sizes="32x32">
<link rel="icon" href="{{ page.outputPath | rootRelativePathPrefix }}assets/images/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ page.outputPath | rootRelativePathPrefix }}assets/images/apple-touch-icon.png">