<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="me" href="https://mas.to/@jplummer">
<link rel="me" href="https://bsky.app/profile/jonplummer.com">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" title="Posts – {{ site.title }}" href="/feed.xml">
<link rel="alternate" type="application/rss+xml" title="Links – {{ site.title }}" href="/links-feed.xml">
<link rel="alternate" type="application/rss+xml" title="Collected wisdom – {{ site.title }}" href="/wisdom-feed.xml">
