<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="max-image-preview:large">
<meta name="generator" content="{{ eleventy.generator }}">
<link media="screen" rel="stylesheet" type="text/css" href="/assets/css/jonplummer.css">