---
layout: base.njk
purpose: individual portfolio page
---

<article class="portfolio-detail">
    <header>
        <h1>{{ title | smartquotes | safe }}</h1>
    </header>
    <section>
        {{ content | safe }}
    </section>
</article>

{% set collection = collections.portfolio %}
{% set currentPage = page %}
{% set itemLabel = "project" %}
{% set navLabel = "Portfolio navigation" %}
{% include "components/collection_navigation.njk" %}
