---
layout: base.njk
purpose: individual post page
---

{% set post = {
    'url': page.url,
    'date': date,
    'data': {
        'title': title
    },
    'templateContent': content,
    'id': title | slug
} %}

{% include "components/post_content.njk" %}

{% set collection = collections.post %}
{% set currentPage = page %}
{% set itemLabel = "post" %}
{% set navLabel = "Post navigation" %}
{% include "components/collection_navigation.njk" %}

