<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ title | dump | safe }},
  "datePublished": "{{ date | dateToRfc3339 }}",
  "dateModified": "{{ date | dateToRfc3339 }}",
  "author": {
    "@type": "Person",
    "name": "Jon Plummer",
    "url": "{{ site.url }}/about/"
  },
  "publisher": {
    "@type": "Person",
    "name": "Jon Plummer",
    "url": "{{ site.url }}"
  },
  "url": "{{ site.url }}{{ page.url }}",
  "description": {{ description | default(title) | dump | safe }},
  "image": "{{ site.url }}{{ ogImageUrl }}"
}
</script>
