<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "description": {{ computedDescriptionValue | dump | safe }},
  "publisher": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url }}/about/"
  },
  "inLanguage": "en-US"
}
</script>
