---
layout: base.njk
permalink: /500.html
title: "/500"
description: "Server error. Something went wrong on our end."
tags: page
purpose: 500
---

<p>Oops! Something went wrong on our end. We're working to fix this issue.</p>

<p>In the meantime, you can:</p>
<ul>
    <li><a href="/">Go back to the homepage</a></li>
    <li><a href="/about/">Learn more about this site</a></li>
</ul>

<h2>Recent posts</h2>
<ul>
    {% for post in collections.post | limit(5) %}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>