---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>Jon Plummer</title>
        <link>{{ site.url }}</link>
        <description>Today I Learned - Personal blog about work, life, and learning</description>
        <language>en-US</language>
        {# Use the newest post's publication date (not modification time) to avoid triggering RSS readers on metadata updates #}
        {% set newestPost = collections.post | reverse | first %}
        <lastBuildDate>{% if newestPost %}{{ newestPost.date | dateToRfc3339 }}{% else %}{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}{% endif %}</lastBuildDate>

        {% for item in collections.post | reverse | limit(20) %}
        <item>
            <title>{{ item.data.title | safe }}</title>
            <link>{{ item.url | absoluteUrl(site.url) }}</link>
            <guid>{{ item.url | absoluteUrl(site.url) }}</guid>
            <pubDate>{{ item.date | dateToRfc3339 }}</pubDate>

            {# Full post content #}
            <content:encoded><![CDATA[{{ item.templateContent | safe }}]]></content:encoded>

            {# Post excerpt for compatibility #}
            <description><![CDATA[{{ item.data.excerpt | default(item.templateContent | truncate(300)) | safe }}]]></description>

            {# Categories/tags if you have them #}
            {% if item.data.tags %}
            <category>{{ item.data.tags | join(', ') }}</category>
            {% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>