---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
You found it! Aren't you clever.

/* TEAM */
Author: Jon Plummer
Site: {{ site.url }}
Location: Eugene, OR

/* SITE */
Generator: Eleventy
Standards: HTML5, CSS3, RSS
Components: Nunjucks

/* DETAILS */
Technologies: {{ site.url }}/technologies/
Changelog: {{ site.url }}/changelog/

