---
permalink: /links-feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
    <channel>
        <title>Jon Plummer - Links</title>
        <link>{{ site.url }}</link>
        <description>Links from Jon Plummer's blog</description>
        <language>en-US</language>
        {% set firstItem = collections.post | reverse | limit(20) | mergePostsAndLinks(links) | first %}
        <lastBuildDate>{% if firstItem %}{{ firstItem.date | dateToRfc3339 }}{% else %}{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}{% endif %}</lastBuildDate>
        {% for item in collections.post | reverse | limit(20) | mergePostsAndLinks(links) %}
            {% if item.type == 'link' %}
            <item>
                <title>{{ item.data.title | smartquotes | striptags }}</title>
                <link>{{ item.data.url }}</link>
                <guid>{{ item.data.url }}</guid>
                <pubDate>{{ item.date | dateToRfc3339 }}</pubDate>
                {# Rich content with full HTML #}
                <content:encoded><![CDATA[<p><a href="{{ item.data.url }}">{{ item.data.title | smartquotes | striptags }}</a>{% if item.data.description %}<br>{{ item.data.description | markdownInline | safe }}{% endif %}</p>{% if site.url %}<p><small>Shared on <a href="{{ site.url }}">jonplummer.com</a></small></p>{% endif %}]]></content:encoded>
                {# Simple description (markdown processed, but no link since <link> provides URL) #}
                <description><![CDATA[{{ item.data.title | smartquotes | striptags }}{% if item.data.description %} - {{ item.data.description | markdownInline | safe }}{% endif %}]]></description>
            </item>
            {% endif %}
        {% endfor %}
    </channel>
</rss>
