---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Homepage #}
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>

  {# Static pages (exclude error pages) #}
  {% for page in collections.page %}
  {% if page.data.purpose != "404" and page.data.purpose != "500" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endif %}
  {% endfor %}

  {# Portfolio page #}
  <url>
    <loc>{{ site.url }}/portfolio/</loc>
    <lastmod>{{ collections.portfolio | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# All blog posts #}
  {% for post in collections.post %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateToRfc3339 }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

  {# All portfolio items #}
  {% for item in collections.portfolio %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateToRfc3339 }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  {# Pagination pages #}
  {% set totalPosts = collections.post | length %}
  {% set postsPerPage = 5 %}
  {% set totalPages = (totalPosts + postsPerPage - 1) // postsPerPage %}
  {# totalPages includes page 0, so last numbered page is (totalPages - 1) #}
  {# range() excludes upper bound, so use totalPages to generate 1 to (totalPages - 1) #}
  {% for pageNum in range(1, totalPages) %}
  <url>
    <loc>{{ site.url }}/page/{{ pageNum }}/</loc>
    <lastmod>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}
</urlset>
